# Database
DATABASE_URL="postgresql://postgres.hiriefrywbfjjzncmpvn:58KId5HRDunEvWmO@aws-1-us-east-2.pooler.supabase.com:5432/postgres"

# Conekta
CONEKTA_API_KEY="key_sW2invm8nolXzKMmB2pJOr9"
CONEKTA_PUBLIC_KEY="key_ESbaaUsPStuSpzsxTmGhG0Y"
CONEKTA_WEBHOOK_SECRET="your_webhook_secret"
CONEKTA_WEBHOOK_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIB...\n-----END PUBLIC KEY-----"

# Service
LOG_LEVEL="DEBUG"
ENVIRONMENT="development"
